.Home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cake {
  width: 680px;
  padding: 0px 15px;
  
}
.Cake img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 499px) {

}