.Input {
  padding: 10px;
  position: relative;
}

.Label {
  display: block;
  position: absolute;
  color: #686868;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  padding: 0px 5px;
  font-size: 10px;
  top: -1px;
  left: 25px;
}

.Error {
  color: red;
}

.InputElement {
  outline: none;
  background-color: white;
  border: 0px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font: inherit;
  display: block;
  width: 100%;
  /* margin: auto; */
  box-sizing: border-box;
  line-height: 35px;
  padding-left: 10px;
}

.InputElement:focus {
  outline: none;
}


input[type="time"]
{
    display:block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
}

input[type="date"]
{
    display:block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
}