form {
    padding-top: 20px;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.1em;
    grid-row-gap: 10px;
    grid-template-areas: 
        "name phone"
        "email wechat" 
        "message message" 
        "pickup_date pickup_time"
        "forBirthday buttonSubmit";
    .name{ 
        grid-area: name; 
    }
    .email{ 
        grid-area: email; 
    }
    .phone{ 
        grid-area: phone; 
    }
    .wechat{ 
        grid-area: wechat; 
    }
    .pickup_date{ 
        grid-area: pickup_date; 
    }
    .pickup_time{ 
        grid-area: pickup_time;
    }
    .message{ 
        grid-area: message; 
    }
    .forBirthday{
        grid-area: forBirthday;
    }
    .buttonSubmit{
        grid-area: buttonSubmit;
        width: 200px;
        margin: auto;
    }
}


@media screen and (max-width: 600px){
    form {
        grid-template-areas: 
        "name"
        "phone"
        "email" 
        "wechat" 
        "message"
        "pickup_date"
        "pickup_time"
        "forBirthday"
        "buttonSubmit";
        .forBirthday{
            justify-content: center;
        }
    }
}

.forBirthday {
    display: flex;
    justify-content: center;
    color: #686868;
    label{
        padding-right: 20px;
    }
    input{
        position: relative;
        top: 3px;
    }
}

.DisplayConfirmItem {
  padding: 10px 20px;
  clear: both;
}

.DisplayPeroerty {
    float: left;
}

.DisplayValue {
    float: right;
}

.Confirmation{
    max-width: 400px;
    margin: auto;
    padding-bottom: 30px;
}

.HR {
    clear: both;
    border-bottom: 1px black solid;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.ConfirmButton{
    width: 100px;
    padding: 5px;
}

.ConfirmButtonGroup {
    display: flex;
    justify-content: center;
}

.DisableButton {
    background-color: grey;
}

.ModalTitle {
    text-align: center;
}

.DesginCake {
    color: #222222b5;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
}