.Policy {
  /* width: 688px;
  height: auto;
  background-color: #ccc; */
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
}

.Policy .Content {
  width: 550px;
  height: auto;
  font-size: 13pt;
  line-height: 16pt;
  padding-top: 25px;
}

.Policy .Content .Title{
  font-size: 20pt;
  line-height: 24pt;
  text-align: center;
}

.Policy .Content .Body{
  text-align: left;
}

.Section {
  padding: 20px 0px;
}

.Section .SectionTitle {
  font-size: 16pt;
  padding-bottom: 10px;
  font-weight: bold;
}