.NavigationItems {
  margin: 0;
  padding: 0;
  list-style:none;
  display: flex;
  flex-flow: column;
  text-align: center;
  height: 100%;
  font-size: 12px;
}

@media (min-width: 500px){
  .NavigationItems{
    flex-flow: row;
  }
}